/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 5px;
    text-align: center;
    color: #1D3557;
    background: #F1FAEE;
}

img {
    width: 75px;
}

.head {
    background-image: url("images/torshov.jpg");
    background-size: cover;
    padding: 100px 100px 100px 100px;
    color: #F1FAEE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-head {
    background: #457B9D;
    padding: 5px 15px;
    margin: 0;
    border-radius: 5px;
    font-size: 24px;
}

#hero-subhead {
    background: #1D3557;
    font-size: 15px;
    padding: 3px 10px;
    border-radius: 5px;
    width: 280px;
   
}

#activity-head {
    font-size: 18px;
}

.activity-section {
    display: flex;
    justify-content: space-around;
    align-items: start;
    font-size: 14px;
}

.activity-section div {
    width: 150px;
}


.activity-section img {
    border-radius: 50%;
    margin: 20px;
}

.guide-card {
    width: 350px;
    height: 200px;
    margin: 40px auto;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #A8DADC;
    color: #2b2839;
    border-bottom: 6px solid #1D3557;
    border-radius: 5px;
}

.guide-card img {
    width: 150px;
    height: 200px;
    border-radius: 5px;
}

.guide-info {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
    color: #1D3557;
}

.guide-info h3, h4 {
    margin: 0 auto 5px auto;
}

.guide-info p {
    font-style: italic;
    font-size: 14px;
    margin: 15px auto;
    width: 150px;
}
